/* fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700");

:root {
    --aliceBlue: #E9F3FB;
    --tropicalViolet: #C3AED9;
    --vistaBlue: #84A6D3;
    --rosePink: #C35E9E;
    --jacarta: #362360;
    --black: #212529;
    --font: 'Poppins';
}

body {
    font-family: var(--font);
    font-size: small;
}

#title {
    padding: 2% 10%;
    background-color: var(--aliceBlue);
}

#site-name {
    font-weight: bolder;
}

#site-logo {
    height: 30px;
}

.navbar {
    padding-bottom: 4.5rem;
}

.nav-link {
    color: var(--black);
}

.nav-link:hover {
    color: var(--rosePink);
    text-decoration: overline;
}

h1 {
    font-family: 'Ubuntu';
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

#download button img {
    height: 13px;
}

.phone-img {
    height: 400px;
}

#phone-imgs {
    padding-left: 5%;
}

#features {
    padding: 5% 10%;
}

#features h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--rosePink);
}

#features p {
    font-weight: 100;
    color: var(--rosePink);
    opacity: 60%;
}

#features .box {
    padding: 4%;
}

.icon {
    color: var(--jacarta);
    filter: drop-shadow(0 1.4px 1px var(--black));
}

.icon:hover {
    color: var(--rosePink);
    filter: drop-shadow(0 1.4px 1px var(--jacarta));
}

#testimonials {
    padding: 5% 10%;
    background-color: var(--aliceBlue);
}

#carousel {
    width: 800px;
}

.carousel-item {
    height: 400px;
    width: 800px;
}

.carousel-caption {
    background-color: var(--black) ;
    padding: 3% 5%;
    opacity: 90%;
}

.carousel-inner {
    text-align: center;
    justify-content: center;
}

.carousel-caption h5 {
    font-size: 13px;
}

.carousel-caption p {
    font-size: 10px;
}

#press {
    padding: 5% 10%;
    background-color: var(--aliceBlue);
}

#press img {
    width: 150px;
}

#pricing {
    padding: 5% 10%;
}

#pricing h2 {
    font-family: 'Ubuntu';
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

#pricing .card h2 {
    font-family: 'Ubuntu';
    font-size: 20px;
    line-height: 1.5;
}

#pricing .card {
    text-align: center;
}

#pricing .card-header {
    background-color: var(--tropicalViolet);
}

#pricing .card-header h3 {
    font-family: 'Ubuntu';
    font-size: 25px;
    font-weight: bolder;
}

#pricing .btn {
    font-size: small;
    text-align: center;
    background-color: var(--jacarta);
    color: white;
    margin-top: 3%;
}

#pricing .btn:hover {
    background-color: var(--rosePink);
    color: white;
}

#pricing .free {
    text-align: center;
    border: 1.2px solid var(--jacarta);
    color: var(--jacarta);
    background-color: white;
}

#pricing .free:hover {
    border: 1.2px solid var(--rosePink);
    background-color: white;
    color: var(--rosePink);
}

#cta {
    padding: 5% 10%;
    background-color: var(--aliceBlue);
}

#cta h3 {
    font-family: 'Ubuntu';
    font-weight: bolder;
    font-size: 2rem;
}

#footer {
    padding: 5% 10%;
}

#footer-logo {
    height: 40px;
}

 /* Small and medium devices (landscape phones, less than 992px) */
@media (max-width: 992px) {
    body {
        text-align: center;
        justify-content: center;
    }

    #title {
        padding: 5% 10%;
    }

    #phone-imgs {
        margin-top: 30px;
        padding: 0;
    }

    .col-lg-4 {
        margin-bottom: 5%;
    }

    #pricing .btn {
        padding: 4px 20px;
        margin-top: 3%;
    }

 }

/* Large devices (laptops or desktops, less than 1400px)*/
@media (max-width: 1400px) {
    .phone-img {
        height: 300px;
    }
}
